@font-face {
  font-family: "Futura PT";
  src: url("/fonts/futura-pt-book-589a6dec272c3.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("/fonts/futura-pt-book-oblique-589e44623c7b4.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT";
  src: url("/fonts/futura-pt-bold-589e44b6aacd3.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("/fonts/futura-pt-bold-oblique-589e453384a18.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}